{# templates/security/login.html.twig #}
{# ... you will probably extend your base template, like base.html.twig #}
{% extends "base.html.twig" %}

{% block body %}
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}


<div class="panel panel-success">
  <div class="panel-heading">
    <h3>Login</h3>
  </div>
  <div class="panel-body">
    <form action="{{ path('login') }}" method="post">
        <div class="form-group" >
          <label for="username">Username:</label>
          <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control"/>
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" id="password" name="_password" class="form-control"/>
        </div>

        <button class="btn btn-info pull-right" type="submit">Ingresar</button>

    </form>
  </div>
</div>


{% endblock %}
