{% extends "base.html.twig" %}
{% block body %}
<div class="panel panel-success">
  <div class="panel-heading">
    <h3>Magic Number</h3>
  </div>
  <div class="panel-body">
    <h1>Your lucky number is {{ number }}</h1>
  </div>
</div> 
{% endblock %}
